Repository choplin/vault.md: changes, and which lefthook commands are due for each by the changed paths.
All: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{ts,js,json}"
      run: npm run format
      stage_fixed: true
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob:
        - "*.ts"
        - "*.js"
        - "*.json"
        - "*.yml"
        - "*.yaml"
        - "*.md"
        - "*.txt"
        - "*.feature"
        - ".gitignore"
        - "package.json"
        - "tsconfig.json"
        - "biome.json"
        - "lefthook.yml"
      stage_fixed: true
    ensure-newline-eof:
      run: perl -i -pe 'chomp if eof; $_ .= "\n" if eof' {staged_files}
      glob:
        - "*.ts"
        - "*.js"
        - "*.json"
        - "*.yml"
        - "*.yaml"
        - "*.md"
        - "*.txt"
        - "*.feature"
        - ".gitignore"
        - "package.json"
        - "tsconfig.json"
        - "biome.json"
        - "lefthook.yml"
      stage_fixed: true
    lint-biome:
      glob: "*.{ts,js,json}"
      run: npm run lint:biome
    lint-md:
      glob: "*.md"
      run: npm run lint:md
    types:
      glob: "*.ts"
      run: npx tsc --noEmit

pre-push:
  commands:
    test:
      run: npm test -- --run

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

chore(tooling): run staticcheck from make lint
  Makefile
  go.mod
  internal/scope/scope.go
Due: none

chore(staticcheck): adopt configuration changes and fix warnings
  internal/config/config.go
  internal/config/config_test.go
  internal/database/connection.go
  internal/filesystem/filesystem.go
  staticcheck.conf
Due: none

feat(cli): add list command with table/json output formats
  cmd/vault/list.go
  cmd/vault/root.go
  go.mod
  go.sum
  internal/usecase/entry.go
Due: none

refactor(usecase): use hybrid parameter pattern for entry methods
  cmd/vault/get.go
  cmd/vault/list.go
  cmd/vault/set.go
  internal/usecase/entry.go
Due: none

feat(cli): add cat command and fix get to output file path
  cmd/vault/cat.go
  cmd/vault/root.go
Due: none

refactor(cli): change get to output content instead of file path
  cmd/vault/get.go
Due: none

feat(scope): add git auto-detection and move ResolveScope to scope package
  cmd/vault/cat.go
  cmd/vault/get.go
  cmd/vault/list.go
  cmd/vault/set.go
  internal/git/git.go
  internal/git/git_test.go
  internal/scope/resolve.go
  internal/usecase/scope.go
Due: none

docs(adr): add ADR-0001 for git auto-detection and default repository scope
  docs/adr/ADR-0001-git-auto-detection-and-default-repository-scope.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

feat(cli): add info command with table and JSON output formats
  cmd/vault/info.go
  cmd/vault/root.go
  internal/usecase/entry.go
Due: none

feat(cli): add delete command with confirmation prompt
  cmd/vault/delete.go
  cmd/vault/root.go
  internal/usecase/entry.go
Due: none

refactor(cli): rename --ver flag to --version with -v shorthand
  cmd/vault/cat.go
  cmd/vault/get.go
  cmd/vault/info.go
Due: none

refactor(cli): remove --all-scopes flag for clearer behavior
  cmd/vault/cat.go
  cmd/vault/get.go
  internal/usecase/entry.go
Due: none

feat(cli): add edit command with $EDITOR integration
  cmd/vault/edit.go
  cmd/vault/root.go
Due: none

feat(mcp): add MCP server with 5 core tools
  cmd/vault/mcp.go
  cmd/vault/root.go
  go.mod
  go.sum
  internal/mcp/server.go
Due: none

fix(mcp): correct jsonschema tag syntax for MCP SDK
  CHANGELOG.md
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

chore: prepare for 0.1.0 release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  CHANGELOG.md
  LICENSE
  Makefile
  README.md
  cmd/vault/main.go
  cmd/vault/root.go
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

fix: correct repository URLs and fix lint error
  .goreleaser.yml
  README.md
  cmd/vault/cat.go
  cmd/vault/delete.go
  cmd/vault/edit.go
  cmd/vault/get.go
  cmd/vault/info.go
  cmd/vault/list.go
  cmd/vault/mcp.go
  cmd/vault/set.go
  go.mod
  internal/database/connection.go
  internal/database/connection_test.go
  internal/database/mapping.go
  internal/database/types.go
  internal/filesystem/filesystem.go
  internal/mcp/server.go
  internal/scope/resolve.go
  internal/services/entry_service.go
  internal/services/entry_service_test.go
  internal/services/scope_service.go
  internal/services/scope_service_test.go
  internal/usecase/entry.go
  internal/vault/types.go
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

fix(ci): use make lint instead of golangci-lint-action
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

fix(readme): correct Go Report Card badge URL
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

refactor(lint): fix all golangci-lint v2 warnings and improve code quality
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  cmd/vault/cat.go
  cmd/vault/delete.go
  cmd/vault/edit.go
  cmd/vault/info.go
  cmd/vault/list.go
  cmd/vault/mcp.go
  cmd/vault/set.go
  db/migrations/embed.go
  go.mod
  go.sum
  internal/config/config.go
  internal/database/connection.go
  internal/database/mapping.go
  internal/database/types.go
  internal/filesystem/filesystem.go
  internal/git/git.go
  internal/git/git_test.go
  internal/mcp/server.go
  internal/scope/resolve.go
  internal/scope/scope.go
  internal/services/entry_service.go
  internal/services/entry_service_test.go
  internal/services/scope_service.go
  internal/usecase/entry.go
  internal/vault/types.go
  staticcheck.conf
Due: remove-trailing-spaces, ensure-newline-eof

feat(list): improve table display with terminal-width-aware column sizing
  CHANGELOG.md
  cmd/vault/list.go
  go.mod
  go.sum
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

chore: release v0.2.0
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

chore: add dependabot configuration with grouped updates
  .github/dependabot.yml
Due: remove-trailing-spaces, ensure-newline-eof
