Repository choplin/vault.md: changes, and which lefthook commands are due for each by the changed paths.
All: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{ts,js,json}"
      run: npm run format
      stage_fixed: true
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob:
        - "*.ts"
        - "*.js"
        - "*.json"
        - "*.yml"
        - "*.yaml"
        - "*.md"
        - "*.txt"
        - "*.feature"
        - ".gitignore"
        - "package.json"
        - "tsconfig.json"
        - "biome.json"
        - "lefthook.yml"
      stage_fixed: true
    ensure-newline-eof:
      run: perl -i -pe 'chomp if eof; $_ .= "\n" if eof' {staged_files}
      glob:
        - "*.ts"
        - "*.js"
        - "*.json"
        - "*.yml"
        - "*.yaml"
        - "*.md"
        - "*.txt"
        - "*.feature"
        - ".gitignore"
        - "package.json"
        - "tsconfig.json"
        - "biome.json"
        - "lefthook.yml"
      stage_fixed: true
    lint-biome:
      glob: "*.{ts,js,json}"
      run: npm run lint:biome
    lint-md:
      glob: "*.md"
      run: npm run lint:md
    types:
      glob: "*.ts"
      run: npx tsc --noEmit

pre-push:
  commands:
    test:
      run: npm test -- --run

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

refactor(database): separate concerns with three-tier architecture
  src/core/database.ts
  src/core/database/connection.ts
  src/core/database/queries/entry-version.query.ts
  src/core/database/queries/index.ts
  src/core/database/queries/scope-entry.query.test.ts
  src/core/database/queries/scope-entry.query.ts
  src/core/database/queries/scoped-entry.query.test.ts
  src/core/database/queries/scoped-entry.query.ts
  src/core/database/repositories/entry-status.repository.ts
  src/core/database/repositories/entry.repository.test.ts
  src/core/database/repositories/entry.repository.ts
  src/core/database/repositories/index.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/database/repositories/version.repository.test.ts
  src/core/database/repositories/version.repository.ts
  src/core/database/types.ts
  src/core/edit.ts
  src/core/services/entry.service.test.ts
  src/core/services/entry.service.ts
  src/core/services/index.ts
  src/core/services/scope.service.test.ts
  src/core/services/scope.service.ts
  src/core/types.ts
  src/core/vault.ts
  tests/database.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

refactor(database): separate concerns with three-tier architecture (#2)
  src/core/database.ts
  src/core/database/connection.ts
  src/core/database/queries/entry-version.query.ts
  src/core/database/queries/index.ts
  src/core/database/queries/scope-entry.query.test.ts
  src/core/database/queries/scope-entry.query.ts
  src/core/database/queries/scoped-entry.query.test.ts
  src/core/database/queries/scoped-entry.query.ts
  src/core/database/repositories/entry-status.repository.ts
  src/core/database/repositories/entry.repository.test.ts
  src/core/database/repositories/entry.repository.ts
  src/core/database/repositories/index.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/database/repositories/version.repository.test.ts
  src/core/database/repositories/version.repository.ts
  src/core/database/types.ts
  src/core/edit.ts
  src/core/services/entry.service.test.ts
  src/core/services/entry.service.ts
  src/core/services/index.ts
  src/core/services/scope.service.test.ts
  src/core/services/scope.service.ts
  src/core/types.ts
  src/core/vault.ts
  tests/database.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

feat: add archive functionality and migrate to async/await
  features/cli-integration/archive-commands.feature
  features/step_definitions/archive.steps.ts
  package.json
  src/cli.ts
  src/core/services/entry.service.ts
  src/mcp/server.ts
  src/web/server.ts
  tests/api-scope.test.ts
  tests/archive-cli.test.ts
  tests/mcp-server.test.ts
  tests/mcp-three-tier-scope.test.ts
  tests/move-scope.test.ts
  tests/vault-all-scopes.test.ts
  tests/vault-entry-fallback.test.ts
  tests/vault.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

feat: add archive functionality and migrate to async/await (#3)
  features/cli-integration/archive-commands.feature
  features/step_definitions/archive.steps.ts
  package.json
  src/cli.ts
  src/core/services/entry.service.ts
  src/mcp/server.ts
  src/web/server.ts
  tests/api-scope.test.ts
  tests/archive-cli.test.ts
  tests/mcp-server.test.ts
  tests/mcp-three-tier-scope.test.ts
  tests/move-scope.test.ts
  tests/vault-all-scopes.test.ts
  tests/vault-entry-fallback.test.ts
  tests/vault.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

ci: add GitHub Actions workflow for automated testing
  .github/workflows/ci.yml
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

ci: add manual workflow trigger (workflow_dispatch)
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

ci: use npm install instead of npm ci (package-lock.json is gitignored)
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

fix: add package-lock.json to repo and use npm ci in CI
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome

fix: upgrade vite-plugin-solid to v2.11.8 for Vite v7 support
  package-lock.json
  package.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome

fix: skip lefthook install in CI environment
  README.md
  package.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md

fix: update Node.js support to 20.x+ and add 24.x to CI matrix
  .github/workflows/ci.yml
  CHANGELOG.md
  mise.toml
  package.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md

fix(ci): use official Biome setup action to resolve Linux binary issues
  .github/workflows/ci.yml
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

fix(ci): regenerate package-lock.json to include Linux binary dependencies
  package-lock.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome

fix(ci): use Biome directly instead of npm scripts
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

fix(ci): remove setup-biome action and use npm scripts
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

fix(ci): add --include=optional flag to npm ci
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

ci: add debug step to check installed packages
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

fix: regenerate package-lock.json with proper platform entries
  biome.json
  package-lock.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome

fix: remove hardcoded 'main' branch dependency in E2E tests
  features/cli-integration/complex-workflow.feature
  features/step_definitions/common.steps.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

fix: remove hardcoded 'main' branch dependency in E2E tests
  features/cli-integration/complex-workflow.feature
  features/step_definitions/common.steps.ts
  mise.toml
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

ci: remove debug steps from workflow
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof

ci: add GitHub Actions workflow for CI/CD (#4)
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  README.md
  biome.json
  features/cli-integration/complex-workflow.feature
  features/step_definitions/common.steps.ts
  package-lock.json
  package.json
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

refactor(cli): rename 'web' command to 'ui'
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
  src/cli.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

fix(scope): enforce git-aware scope resolution
  docs/architecture/20250716-scope-design.md
  docs/architecture/20251011-scope-refactor-design.md
  src/cli.ts
  src/core/database/connection.ts
  src/core/database/queries/scope-entry.query.test.ts
  src/core/database/queries/scope-entry.query.ts
  src/core/database/queries/scoped-entry.query.test.ts
  src/core/database/repositories/entry.repository.test.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/database/repositories/version.repository.test.ts
  src/core/git.ts
  src/core/scope.test.ts
  src/core/scope.ts
  src/core/services/entry.service.test.ts
  src/core/services/scope.service.test.ts
  src/core/services/scope.service.ts
  src/core/types.ts
  src/core/vault.ts
  src/web/server.ts
  tests/api-scope.test.ts
  tests/mcp-three-tier-scope.test.ts
  tests/move-scope.test.ts
  tests/vault-all-scopes.test.ts
  tests/vault-entry-fallback.test.ts
  tests/vault-scope.test.ts
  tests/vault-search-order.test.ts
  tests/vault.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

refactor(web): enforce canonical scope usage
  src/web/App.tsx
  src/web/components/ScopeTree.tsx
  src/web/components/Sidebar.tsx
  src/web/components/scopeDisplay.tsx
  src/web/lib/api.ts
  src/web/lib/grouping.ts
  src/web/stores/vault.ts
  tests/web-list-scope-display.test.ts
  tests/web-scope-selector.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

fix(web): adopt scope json payloads
  src/web/App.tsx
  src/web/components/ContentViewer.tsx
  src/web/components/ScopeTree.tsx
  src/web/components/Sidebar.tsx
  src/web/lib/api.ts
  src/web/lib/grouping.ts
  src/web/server.ts
  src/web/stores/vault.ts
  tests/api-scope.test.ts
  tests/web-scope-selector.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

fix(db): rename worktree id and flatten migration
  docs/architecture/20251011-scope-refactor-design.md
  src/core/database/connection.ts
  src/core/database/queries/scope-entry.query.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/database/types.ts
  src/core/services/scope.service.test.ts
  src/core/services/scope.service.ts
  src/core/vault.ts
  src/web/server.ts
  tests/api-scope.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

refactor(scope): drop legacy alias terminology
  docs/architecture/20251011-scope-refactor-design.md
  src/cli.ts
  src/core/database/queries/scope-entry.query.test.ts
  src/core/scope.test.ts
  src/core/scope.ts
  src/core/vault.ts
  src/mcp/server.ts
  src/web/components/ScopeTree.tsx
  src/web/stores/ui.ts
  tests/vault-scope.test.ts
  tests/vault-search-order.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, lint-md, types

feat(scope): support worktree scopes across stack
  src/cli.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/git.ts
  src/core/scope.test.ts
  src/core/scope.ts
  src/core/services/scope.service.test.ts
  src/core/types.ts
  src/core/vault.ts
  src/mcp/server.ts
  src/web/App.tsx
  src/web/components/ScopeTree.tsx
  src/web/components/scopeDisplay.tsx
  src/web/lib/api.ts
  src/web/lib/grouping.ts
  src/web/server.ts
  src/web/stores/vault.ts
  tests/cli-command-parser.test.ts
  tests/scope-priority.test.ts
  tests/vault-scope.test.ts
  tests/vault-search-order.test.ts
  tests/web-list-scope-display.test.ts
  tests/web-scope-selector.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

feat(scope): support worktree scopes across stack (#6)
  src/cli.ts
  src/core/database/repositories/scope.repository.test.ts
  src/core/database/repositories/scope.repository.ts
  src/core/git.ts
  src/core/scope.test.ts
  src/core/scope.ts
  src/core/services/scope.service.test.ts
  src/core/types.ts
  src/core/vault.ts
  src/mcp/server.ts
  src/web/App.tsx
  src/web/components/ScopeTree.tsx
  src/web/components/scopeDisplay.tsx
  src/web/lib/api.ts
  src/web/lib/grouping.ts
  src/web/server.ts
  src/web/stores/vault.ts
  tests/cli-command-parser.test.ts
  tests/scope-priority.test.ts
  tests/vault-scope.test.ts
  tests/vault-search-order.test.ts
  tests/web-list-scope-display.test.ts
  tests/web-scope-selector.test.ts
Due: format, remove-trailing-spaces, ensure-newline-eof, lint-biome, types

feat(internal): bootstrap go core packages
  cmd/vault/main.go
  docs/go-port-spec.md
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/filesystem/filesystem.go
  internal/filesystem/filesystem_test.go
  internal/scope/scope.go
  internal/scope/scope_test.go
  internal/vault/types.go
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

feat(internal): add sqlite database layer
  go.mod
  go.sum
  internal/database/connection.go
  internal/database/connection_test.go
Due: none

fix(internal): handle rollback errors
  Makefile
  internal/database/connection.go
  internal/filesystem/filesystem.go
Due: none

chore: remove wrongly-committed file
  docs/go-port-spec.md
Due: remove-trailing-spaces, ensure-newline-eof, lint-md

feat(database): adopt migrate and sqlc
  .gitignore
  db/migrations/000001_init.down.sql
  db/migrations/000001_init.up.sql
  db/migrations/embed.go
  db/queries/maintenance.sql
  go.mod
  go.sum
  internal/config/config.go
  internal/database/connection.go
  internal/database/connection_test.go
  internal/database/sqlc/db.go
  internal/database/sqlc/maintenance.sql.go
  sqlc.yaml
Due: remove-trailing-spaces, ensure-newline-eof

feat(database): port repositories to sqlc
  db/queries/entry.sql
  db/queries/entry_status.sql
  db/queries/scope.sql
  db/queries/scoped_entry.sql
  db/queries/version.sql
  internal/database/entry_repository.go
  internal/database/entry_status_repository.go
  internal/database/entry_version_query.go
  internal/database/errors.go
  internal/database/helpers.go
  internal/database/repository_test.go
  internal/database/scope_entry_query.go
  internal/database/scope_repository.go
  internal/database/scoped_entry_query.go
  internal/database/sqlc/db.go
  internal/database/sqlc/entry.sql.go
  internal/database/sqlc/entry_status.sql.go
  internal/database/sqlc/maintenance.sql.go
  internal/database/sqlc/models.go
  internal/database/sqlc/scope.sql.go
  internal/database/sqlc/scoped_entry.sql.go
  internal/database/sqlc/version.sql.go
  internal/database/types.go
  internal/database/version_repository.go
  sqlc.yaml
Due: remove-trailing-spaces, ensure-newline-eof

refactor(services): inline sqlc usage
  internal/database/entry_repository.go
  internal/database/entry_status_repository.go
  internal/database/entry_version_query.go
  internal/database/mapping.go
  internal/database/repository_test.go
  internal/database/scope_entry_query.go
  internal/database/scope_repository.go
  internal/database/scoped_entry_query.go
  internal/database/types.go
  internal/database/version_repository.go
  internal/services/entry_service.go
  internal/services/entry_service_test.go
  internal/services/scope_service.go
  internal/services/scope_service_test.go
  internal/services/scoped_entry_query.go
Due: none

feat(cli): add set command using cobra
  cmd/vault/main.go
  cmd/vault/root.go
  cmd/vault/set.go
  internal/application/entry.go
  internal/database/helpers.go
  internal/services/entry_service.go
  internal/services/scope_service.go
  internal/services/scoped_entry_query.go
Due: none

refactor(usecase): introduce entry/get use cases and share scope resolver
  cmd/vault/get.go
  cmd/vault/root.go
  docs/knowledge/usecase-layer.md
  internal/application/entry.go
  internal/scope/scope.go
  internal/usecase/entry.go
  internal/usecase/scope.go
Due: remove-trailing-spaces, ensure-newline-eof, lint-md
